.frame-2,
.frame-2 * {
  box-sizing: border-box;
}
.frame-2 {
  background: #ffffff;
  width: 3379px;
  height: 5405px;
  position: relative;
  overflow: hidden;
}
.whats-app-image-2023-11-29-at-22-56-1 {
  width: 3379px;
  height: 1546px;
  position: absolute;
  left: 0px;
  top: 48px;
}
.rectangle-5 {
  background: #c6b79a;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 3439px;
  height: 219px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 20px 5px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-27 {
  background: #d9d9d9;
  width: 225px;
  height: 84px;
  position: absolute;
  left: 200px;
  top: 20px;
}
.profile {
  color: #0f0f0f;
  text-align: left;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 2188px;
  top: 87px;
  width: 301px;
}
.home {
  color: #0f0f0f;
  text-align: left;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 1251px;
  top: 87px;
  width: 301px;
}
.welcome-to-paradise-hotel {
  color: #eee6e6;
  text-align: left;
  font-family: "Inter-ExtraLightItalic", sans-serif;
  font-size: 128px;
  font-weight: 200;
  font-style: italic;
  position: absolute;
  left: calc(50% - 735.5px);
  top: calc(50% - 2285.5px);
  width: 1767px;
  height: 274px;
}
.paradise {
  color: #000000;
  text-align: left;
  font-family: "Kapakana-Regular", sans-serif;
  font-size: 150px;
  font-weight: 300;
  position: absolute;
  left: 406px;
  top: 20px;
  width: 509px;
}
.accommodations {
  color: #0f0f0f;
  text-align: left;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 1578px;
  top: 87px;
  width: 497px;
}
.reservations {
  color: #0f0f0f;
  text-align: left;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 2544px;
  top: 87px;
  width: 371px;
}
.group-1 {
  position: absolute;
  inset: 0;
}
.rectangle-6 {
  background: #c6b79a;
  width: 431px;
  height: 128px;
  position: absolute;
  left: 1504px;
  top: 691px;
}
.contact-us {
  color: #000000;
  text-align: left;
  font-family: "Inter-ExtraLightItalic", sans-serif;
  font-size: 64px;
  font-weight: 200;
  font-style: italic;
  position: absolute;
  left: 1547px;
  top: 716px;
}
.log-in {
  color: #0f0f0f;
  text-align: left;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 3028px;
  top: 84px;
  width: 371px;
}
.where-luxury-meets-personalized-service-in-the-heart-of-cairo-indulge-in-elegant-accommodations-exceptional-dining-and-serene-wellness-experiences-for-an-unforgettable-stay {
  color: #000000;
  text-align: center;
  font-family: "Inter-LightItalic", sans-serif;
  font-size: 64px;
  font-weight: 300;
  font-style: italic;
  position: absolute;
  left: 654px;
  top: 1855px;
  width: 2084px;
  height: 260px;
}
.welcome-to-paradise {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 128px;
  font-weight: 700;
  position: absolute;
  left: 954.67px;
  top: 1658px;
  transform-origin: 0 0;
  transform: rotate(0.246deg) scale(1, 1);
}
._00-1 {
  width: 718px;
  height: 641px;
  position: absolute;
  left: 163px;
  top: 2256px;
}
._0-1 {
  width: 809px;
  height: 641px;
  position: absolute;
  left: 1251px;
  top: 2256px;
}
._000-1 {
  width: 871px;
  height: 641px;
  position: absolute;
  left: 2387px;
  top: 2256px;
}
.rectangle-8 {
  background: #c6b79a;
  width: 1191px;
  height: 158px;
  position: absolute;
  left: 1124px;
  top: 2996px;
}
.book-your-room {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 96px;
  font-weight: 700;
  position: absolute;
  left: 1337px;
  top: 3017px;
}
.image-1 {
  width: 376px;
  height: 208px;
  position: absolute;
  left: 47px;
  top: 6px;
}
.rectangle-9 {
  background: #d9d9d9;
  width: 3px;
  height: 82px;
  position: absolute;
  left: 325px;
  top: 141px;
}
._0000-1 {
  width: 3457px;
  height: 1495px;
  position: absolute;
  left: -39px;
  top: 3327px;
}
.rectangle-10 {
  background: #ded6c6;
  width: 1500px;
  height: 756px;
  position: absolute;
  left: 1935px;
  top: 3667px;
}
.experience-all-of-the-year-with-us {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 96px;
  font-weight: 600;
  position: absolute;
  left: 2062px;
  top: 3746px;
}
.rectangle-12 {
  background: #c6b79a;
  width: 759px;
  height: 144px;
  position: absolute;
  left: 2062px;
  top: 4114px;
}
.book-now {
  color: #000000;
  text-align: left;
  font-family: "Inter-Black", sans-serif;
  font-size: 96px;
  font-weight: 900;
  position: absolute;
  left: 2193px;
  top: 4128px;
}
.paradise-more-than-a-hotel {
  color: #000000;
  text-align: left;
  font-family: "JacquesFrancois-Regular", sans-serif;
  font-size: 150px;
  font-weight: 400;
  position: absolute;
  left: 674px;
  top: 4979px;
  width: 2705px;
  height: 306px;
}
.frame-7,
.frame-7 * {
  box-sizing: border-box;
}
.frame-7 {
  background: #ffffff;
  width: 3379px;
  height: 5405px;
  position: relative;
  overflow: hidden;
}
.ellipse-1 {
  background: linear-gradient(
    180deg,
    rgba(198, 183, 154, 0) 0%,
    rgba(198, 183, 154, 1) 99.98999834060669%,
    rgba(198, 183, 154, 0.99) 100%
  );
  border-radius: 50%;
  width: 4284.99px;
  height: 6534.76px;
  position: absolute;
  left: 3875.35px;
  top: 5567.77px;
  transform-origin: 0 0;
  transform: rotate(179.419deg) scale(1, 1);
}
.rectangle-5 {
  background: #c6b79a;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 3439px;
  height: 219px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 20px 5px 4px 0px rgba(0, 0, 0, 0.25);
}
.profile {
  color: #0f0f0f;
  text-align: left;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 2188px;
  top: 87px;
  width: 301px;
}
.home {
  color: #0f0f0f;
  text-align: left;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 1251px;
  top: 87px;
  width: 301px;
}
.paradise {
  color: #000000;
  text-align: left;
  font-family: "Kapakana-Regular", sans-serif;
  font-size: 150px;
  font-weight: 300;
  position: absolute;
  left: 406px;
  top: 20px;
  width: 509px;
}
.accommodations {
  color: #0f0f0f;
  text-align: left;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 1578px;
  top: 87px;
  width: 497px;
}
.reservations {
  color: #0f0f0f;
  text-align: left;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 2544px;
  top: 87px;
  width: 371px;
}
.log-in {
  color: #0f0f0f;
  text-align: left;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 3028px;
  top: 84px;
  width: 371px;
}
.image-1 {
  width: 376px;
  height: 208px;
  position: absolute;
  left: 47px;
  top: 6px;
}
.image-2 {
  width: 376px;
  height: 208px;
  position: absolute;
  left: 47px;
  top: 6px;
}
.ellipse-3 {
  width: 830px;
  height: 859px;
  position: absolute;
  left: 5.5px;
  top: 2710px;
  overflow: visible;
}
.screenshot-2023-11-29-230047-3 {
  width: 3379px;
  height: 1299px;
  position: absolute;
  left: 6px;
  top: 940px;
}
.pool-view-room {
  color: #000000;
  text-align: left;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 300px;
  font-weight: 400;
  position: absolute;
  left: 627px;
  top: 421px;
  width: 2103px;
  height: 312px;
}
.frame-3 {
  background: #ffffff;
  width: 3379px;
  height: 5405px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.rectangle-31 {
  background: linear-gradient(
    180deg,
    rgba(206, 160, 70, 0.28) 0%,
    rgba(217, 217, 217, 0) 100%
  );
  width: 3278px;
  height: 2281px;
  position: absolute;
  left: 35px;
  top: 3011px;
}
.line-3 {
  border-style: solid;
  border-color: #000000;
  border-width: 20px 0 0 0;
  width: 1172px;
  height: 0px;
  position: absolute;
  left: 1094px;
  top: 3600px;
}
.ellipse-2 {
  width: 2251px;
  height: 3054px;
  position: absolute;
  left: 1902px;
  top: 3475px;
  overflow: visible;
}
.single-1 {
  width: 3399px;
  height: 2165px;
  position: absolute;
  left: -20px;
  top: 87px;
}
.ellipse-32 {
  width: 830px;
  height: 859px;
  position: absolute;
  left: 5.5px;
  top: 2710px;
  overflow: visible;
}
.line-1 {
  border-style: solid;
  border-color: #000000;
  border-width: 20px 0 0 0;
  width: 1172px;
  height: 0px;
  position: absolute;
  left: 1094px;
  top: 4792px;
}
.room-size {
  color: #000000;
  text-align: left;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 200;
  font-weight: 400;
  position: absolute;
  left: 1181px;
  top: 3011px;
  width: 1160px;
  height: 236px;
}
.amenities {
  color: #000000;
  text-align: left;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 200px;
  font-weight: 400;
  position: absolute;
  left: 1251px;
  top: 3665px;
  width: 846px;
}
.rectangle-27 {
  width: 628.83px;
  height: 237.35px;
  position: absolute;
  left: 2532px;
  top: 4957px;
  overflow: visible;
}
.book-room {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 100px;
  font-weight: 500;
  position: absolute;
  left: 2589px;
  top: 5015px;
}
._33-sq-m-to-38-sq-m-355-sq-ft-to-409-sq-ft {
  color: #000000;
  text-align: center;
  font-family: "Abel-Regular", sans-serif;
  font-size: 100px;
  font-weight: 400;
  position: absolute;
  left: 811px;
  top: 3307px;
  width: 1757px;
}
._100-egyptian-cotton-bedding-tea-and-coffee-making-facilities-wireless-high-speed-internet-access-air-conditioning-with-digital-climate-control-interactive-tv-system-with-access-to-movies-games-music-and-videos-refreshment-center-with-a-selection-of-premium-food-and-beverage-products {
  color: #000000;
  text-align: center;
  font-family: "AbhayaLibreMedium-Regular", sans-serif;
  font-size: 100px;
  font-weight: 400;
  position: absolute;
  left: -49px;
  top: 3791px;
}
._100-egyptian-cotton-bedding-tea-and-coffee-making-facilities-wireless-high-speed-internet-access-air-conditioning-with-digital-climate-control-interactive-tv-system-with-access-to-movies-games-music-and-videos-refreshment-center-with-a-selection-of-premium-food-and-beverage-products-span {
  color: #000000;
  font-family: "AbhayaLibreMedium-Regular", sans-serif;
  font-size: 100px;
  font-weight: 400;
}
._100-egyptian-cotton-bedding-tea-and-coffee-making-facilities-wireless-high-speed-internet-access-air-conditioning-with-digital-climate-control-interactive-tv-system-with-access-to-movies-games-music-and-videos-refreshment-center-with-a-selection-of-premium-food-and-beverage-products-span2 {
  color: #000000;
  font-family: "AbhayaLibreMedium-Regular", sans-serif;
  font-size: 100px;
  font-weight: 400;
}
._5000-le-per-night {
  color: #000000;
  text-align: center;
  font-family: "-", sans-serif;
  font-size: 150px;
  font-weight: 400;
  position: absolute;
  left: 867px;
  top: 5112px;
}
._5000-le-per-night-span {
  color: #000000;
  font-family: "Abel-Regular", sans-serif;
  font-size: 150px;
  font-weight: 400;
}
._5000-le-per-night-span2 {
  color: #000000;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 150px;
  font-weight: 400;
}
.single-12 {
  width: 1339px;
  height: 1042px;
  position: absolute;
  left: 166px;
  top: 3378px;
}
.nile-view-single-room {
  color: #000000;
  text-align: left;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 200px;
  font-weight: 600;
  position: absolute;
  left: 550px;
  top: 2407px;
  width: 4000px;
  height: 236px;
}
.price {
  color: #000000;
  text-align: left;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 200px;
  font-weight: 400;
  position: absolute;
  left: 1435px;
  top: 4834px;
  width: 509px;
}
.frame-13,
.frame-13 * {
  box-sizing: border-box;
}
.frame-13 {
  background: #ffffff;
  width: 3291px;
  height: 5397px;
  position: relative;
  overflow: hidden;
}
.rectangle-36 {
  background: linear-gradient(
    180deg,
    rgba(198, 183, 154, 0.27) 0%,
    rgba(206, 160, 70, 0) 100%
  );
  width: 3166px;
  height: 2954px;
  position: absolute;
  left: 68px;
  top: 434px;
}
.ellipse-2 {
  width: 1256px;
  height: 2234px;
  position: absolute;
  left: 2485px;
  top: 0px;
  overflow: visible;
}
.rectangle-5 {
  background: #c6b79a;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 3439px;
  height: 223px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 20px 5px 4px 0px rgba(0, 0, 0, 0.25);
}
.image-2 {
  width: 376px;
  height: 208px;
  position: absolute;
  left: 6px;
  top: 8px;
}
.paradise {
  color: #000000;
  text-align: left;
  font-family: "Kapakana-Regular", sans-serif;
  font-size: 150px;
  font-weight: 300;
  position: absolute;
  left: 346px;
  top: 20px;
}
.log-in {
  color: #0f0f0f;
  text-align: left;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 2680px;
  top: 84px;
  width: 371px;
}
.profile {
  color: #0f0f0f;
  text-align: left;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 1857px;
  top: 84px;
  width: 301px;
}
.home {
  color: #0f0f0f;
  text-align: left;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 968px;
  top: 84px;
  width: 301px;
}
.accommodations {
  color: #0f0f0f;
  text-align: left;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 1256px;
  top: 84px;
  width: 497px;
}
.reservations {
  color: #0f0f0f;
  text-align: left;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 2205px;
  top: 84px;
  width: 371px;
}
.rectangle-35 {
  width: 529px;
  height: 84px;
  position: absolute;
  left: 1224px;
  top: 76px;
  overflow: visible;
}

.check-out-date {
  color: #000000;
  text-align: left;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 128px;
  font-weight: 400;
  position: absolute;
  left: 226px;
  top: 1358px;
  width: 913px;
  height: 151px;
}
.group-2 {
  position: absolute;
  inset: 0;
}
.rectangle-222 {
  background: #c6b79a;
  border-radius: 40px;
  width: 2853px;
  height: 222px;
  position: absolute;
  left: 226px;
  top: 1010px;
}
.mm-dd-yyyy {
  color: #686767;
  text-align: left;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 128px;
  font-weight: 400;
  position: absolute;
  left: 377px;
  top: 1057px;
  width: 1332px;
  height: 128px;
}
.group-6 {
  position: absolute;
  inset: 0;
}
.rectangle-240 {
  background: #c6b79a;
  border-radius: 40px;
  width: 1210px;
  height: 222px;
  position: relative;
  left: 960px;
  top: 2215px;
  width: 1332px;
  height: 128px;
}
.check-availability {
  color: #000000;
  text-align: left;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 128px;
  font-weight: 400;
  position: absolute;
  left: 1153px;
  top: 2204px;
  width: 1332px;
  height: 128px;
}
.group-3 {
  position: absolute;
  inset: 0;
}
.rectangle-213 {
  background: #c6b79a;
  border-radius: 40px;
  width: 2846px;
  height: 222px;
  position: absolute;
  left: 226px;
  top: 1641px;
}
.mm-dd-yyyy2 {
  color: #686767;
  text-align: left;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 128px;
  font-weight: 400;
  position: absolute;
  left: 377px;
  top: 1688px;
  width: 1332px;
  height: 128px;
}
.check-in-date {
  color: #000000;
  text-align: left;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 128px;
  font-weight: 400;
  position: absolute;
  left: 197px;
  top: 668px;
}
.frame-19,
.frame-19 * {
  box-sizing: border-box;
}
.frame-19 {
  background: #ffffff;
  width: 3379px;
  height: 5405px;
  position: relative;
  overflow: hidden;
}
.ellipse-2 {
  width: 1256px;
  height: 2234px;
  position: absolute;
  left: 2485px;
  top: 0px;
  overflow: visible;
}
.rectangle-5 {
  background: #c6b79a;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 3439px;
  height: 219px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 20px 5px 4px 0px rgba(0, 0, 0, 0.25);
}
.profile {
  color: #0f0f0f;
  text-align: left;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 2188px;
  top: 87px;
  width: 301px;
}
.home {
  color: #0f0f0f;
  text-align: left;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 1251px;
  top: 87px;
  width: 301px;
}
.paradise {
  color: #000000;
  text-align: left;
  font-family: "Kapakana-Regular", sans-serif;
  font-size: 150px;
  font-weight: 4;
  position: absolute;
  left: 406px;
  top: 38px;
  width: 509px;
}
.paradise-hotel {
  color: #000000;
  text-align: left;
  font-family: "Kapakana-Regular", sans-serif;
  font-size: 300px;
  font-weight: 350;
  position: absolute;
  left: 700px;
  top: 685px;
  width: 3000px;
}
.accommodations {
  color: #0f0f0f;
  text-align: left;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 1578px;
  top: 87px;
  width: 497px;
}
.reservations {
  color: #0f0f0f;
  text-align: left;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 2544px;
  top: 87px;
  width: 371px;
}
.log-in {
  color: #0f0f0f;
  text-align: left;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 3028px;
  top: 84px;
  width: 371px;
}
.image-1 {
  width: 376px;
  height: 208px;
  position: absolute;
  left: 47px;
  top: 6px;
}

  
.ellipse-1 {
  background: linear-gradient(
    180deg,
    rgba(198, 183, 154, 0) 0%,
    rgba(198, 183, 154, 1) 99.98999834060669%,
    rgba(198, 183, 154, 0.99) 100%
  );
  border-radius: 50%;
  width: 2840px;
  height: 3637px;
  position: absolute;
  left: -876px;
  top: 2117px;
}
.ellipse-3 {
  width: 830px;
  height: 859px;
  position: absolute;
  left: 5.5px;
  top: 2710px;
  overflow: visible;
}
.group-13 {
  position: absolute;
  inset: 0;
}
.check-in {
  color: #000000;
  text-align: left;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 170px;
  font-weight: 400;
  position: absolute;
  left: 406px;
  top: 1776px;
  width: 971px;
  height: 367px;
}
.date-time {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 160px;
  font-weight: 400;
  position: absolute;
  left: 1211px;
  top: 1764px;
  width: 1008px;
  height: 193px;
}
.check-out {
  color: #000000;
  text-align: left;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 170px;
  font-weight: 400;
  position: absolute;
  left: 406px;
  top: 2145px;
  width: 971px;
  height: 367px;
}
.date-time2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 160px;
  font-weight: 400;
  position: absolute;
  left: 1297px;
  top: 2145px;
  width: 1008px;
  height: 193px;
}
.group-11 {
  position: absolute;
  inset: 0;
}
.rectangle-21 {
  background: #c6b79a;
  border-radius: 40px;
  width: 1210px;
  height: 222px;
  position: absolute;
  left: 797px;
  top: 2512px;
}
.modify {
  color: #000000;
  text-align: center;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 160px;
  font-weight: 400;
  position: absolute;
  left: 711px;
  top: 2512px;
  width: 1332px;
  height: 128px;
}
.group-15 {
  position: absolute;
  inset: 0;
}
.group-12 {
  position: absolute;
  inset: 0;
}
.rectangle-212 {
  background: #c6b79a;
  border-radius: 40px;
  width: 1210px;
  height: 222px;
  position: absolute;
  left: 829px;
  top: 3957px;
}
.cancel {
  color: #000000;
  text-align: center;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 160px;
  font-weight: 400;
  position: absolute;
  left: 743px;
  top: 3957px;
  width: 1332px;
  height: 128px;
}
.group-14 {
  position: absolute;
  inset: 0;
}
.modify-your-reservation {
  color: #000000;
  text-align: left;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 200px;
  font-weight: 400;
  position: absolute;
  left: 406px;
  top: 1413px;
  width: 3000px;
  height: 317px;
}
.cancel-your-reservation {
  color: #000000;
  text-align: left;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 200px;
  font-weight: 400;
  position: absolute;
  left: 399px;
  top: 2823px;
  width: 3000px;
  height: 317px;
}
.you-can-cancel-free-until-mm-dd-yyyy {
  color: #000000;
  text-align: left;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 200px;
  font-weight: 400;
  position: absolute;
  left: 406px;
  top: 3270px;
  width: 2539px;
  height: 598px;
}



